<footer class="text-center text-sm text-gray-400 pt-8 border-t border-gray-200 mt-12">
    <a href="/docs" class="text-indigo-600 hover:underline">
        <i class="fas fa-book mr-1"></i>Docs
    </a>
    <span class="mx-2">-</span>
    <a href="https://github.com/birajrai/chittra" target="_blank" class="text-indigo-600 hover:underline">
        <i class="fab fa-github mr-1"></i>GitHub
    </a>
    <span class="mx-2">-</span>
    <span><i class="fas fa-balance-scale mr-1"></i>MIT License</span>
</footer>
